.section-content {
  max-width: 620px;
  margin: 0 auto var(--sp-12);
  text-align: center;

  .eyebrow {
    justify-content: center;
  }

  .eyebrow::after {
    display: none;
  }

  .section-title {
    margin-bottom: var(--sp-3);
    justify-content: center;
  }

  .section-text {
    color: var(--gris);
    font-size: 16px;
  }

}